*.tar.bz2

*.tar.zip
.idea/*
*.tar.gz
*.dmg
*.tar
*.apk
*.zip
*.rdb
*.xz
*.avi
*.mp4
*.mp3
*.mov
*.rar
*.exe
*.msi
*.tgz
*.7zip
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.lock
__pycache__/
*.py[cod]
*.log
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
*$py.class
*.so
*.egg-info/
.installed.cfg
*.egg
*.pid
*.seed
*.pid.lock
**/node_modules/*
**/package-lock.json
**/yarn.lock
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.manifest
*.spec
*.xz
*.iso
*.img
*.inf
*.dll
*.avi
*.mpeg
*.mkv
*.mov
*.wmv
*.rm
*.rmvb
*.flv
*.mp4
*.mp3
*.apk
*.ipk
*.pkg
.DS_Store
*.aar
*.ap_
*.aab
*.dex
*.pyc
*.xz
*.rar
*.exe
*.msi
*.tgz
*.7z
*.7zip
*.dylib

*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear

.gradle/
build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

fastlane/readme.md

# Version control
vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
*.out
lint/tmp/



*.xcbkptlist

*.xcuserstate

project.xcworkspace

xcuserdata

UserInterfaceState.xcuserstate

project.xcworkspace/

xcuserdata/



*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM


.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
